.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
tree-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
tree-selection ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
tree-selection ul li {
  padding: 0 0 0.14em 25px;
  position: relative;
}
tree-selection ul li tree-level i {
  color: #333333;
  padding-right: 12px;
}
tree-selection ul li tree-level .cb-label {
  margin-left: 5px;
}
tree-selection ul li tree-level .cb-wrapper {
  width: 20px;
  display: inline-block;
}
tree-selection ul li tree-level .cb-wrapper input[type='checkbox'] {
  display: none;
}
tree-selection ul li tree-level .cb-wrapper input[type='checkbox'] + label {
  cursor: pointer;
  position: absolute;
  height: 15px;
  width: 15px;
  margin-right: 8px;
  margin-top: 2px;
  top: 0;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: -webkit-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  background: linear-gradient(top, #ffffff 0%, #fafafa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222', endColorstr='#45484d', GradientType=0);
}
tree-selection ul li tree-level .cb-wrapper input[type='checkbox'] + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 3px;
  border: 3px solid #333333;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
tree-selection ul li tree-level .cb-wrapper input[type='checkbox'] + label:hover::after {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  opacity: 0.2;
}
tree-selection ul li tree-level .cb-wrapper input[type='checkbox']:checked + label:after {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  opacity: 1;
}
tree-selection ul li tree-level .cb-wrapper input[type='checkbox']:indeterminate + label:after {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  opacity: 0.6;
  width: 7px;
  height: 3px;
  background: #333333;
  top: 6px;
  left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
tree-selection ul li .tree-leaf {
  margin-left: 23px;
}
