<ul>
  <li class="tree-lvl-1" ng-repeat="elem in levels">
    <tree-level level="elem">
      <ul ng-show="elem.open">
        <li class="tree-lvl-2" ng-repeat="elem2 in elem.subLevel">
          <tree-level level="elem2" parent="elem">
            <ul ng-show="elem2.open">
              <li class="tree-lvl-3" ng-repeat="elem3 in elem2.subLevel">
                <tree-level level="elem3" parent="elem2"></tree-level>
              </li>
            </ul>
          </tree-level>
        </li>
      </ul>
    </tree-level>
  </li>
</ul>